.from-me {
    background: lightgreen;
    width: 100px;
    height: 100px;
    border-radius: 5px
}

.someone-else {
    background: lightgrey;
    width: 100px;
    height: 100px;
    border-radius: 5px
}