{% load static %}

<head>
    <title>Pusher Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/main.css' %}">
    <script>
  
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;
  
      var pusher = new Pusher('{your-server-id-here}', {
        cluster: 'ap3'
      });
  
      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
        message = JSON.stringify(data)
        message_clean = message.replace(/^"(.+(?="$))"$/, '$1')
        user = message_clean.match(/.*?(?=:|$)/)

        if (user[0] == "{{user.username}}") {
            document.querySelector("#chat-panel").insertAdjacentHTML('beforeend', '<p class="from-me">' + message_clean + '</p>')
          } else {
            document.querySelector("#chat-panel").insertAdjacentHTML('beforeend', '<p class="someone-else">' + message_clean + '</p>')
          }       
      });

      channel.bind('pusher:subscription_count', function(data) {
        console.log("SUBSCRIPTION: ", data.subscription_count);
      });

    </script>
  </head>
  <body>
    <h1>Chat Test</h1>
    <form id="message_form">
        {% csrf_token %}
        <label for="message">Enter your message:</label><br />
        <input type="text" id="message" name="message"><br />
        <input type="submit" value="Submit">
    </form>

    <div id="chat-container">
        <h3>Chat</h3>
        <div id="chat-panel">
        </div>
      </div>
  </body>

  <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
              }
           }
        }
        return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');

      $("#message_form").submit(function(e) {
        e.preventDefault();
      
        message = $('#message').val()

        const username = "{{user.username}}"
        var $form = $(this),
          url = "{% url 'test' %}"
      
        var posting = $.post(url, {
          message: username + ': ' + message,
          headers: {'X-CSRFToken': csrftoken},
          csrfmiddlewaretoken: '{{ csrf_token }}',
          mode: 'same-origin',
          method: 'POST'
        })
      })      
  </script>